/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
div.modal-content {
	width: 30%; /* Could be more or less, depending on screen size */
    height: 180px;
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
}

.titulo-modal {
    font-size: 18px;
    font-weight: bold;

}

/* The Close Button */
span.close {
	color: #aaa;
	margin-left: 95%;
    margin-top: -35px;
	font-size: 32px;
	font-weight: bold;
}

span.close:hover,
span.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#input-atualizar {
    width: 70%;
    height: 34px;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 4px;
    border: 1px solid gray;
}

#btn-atualizar {    
    width: 20%;
    height: 34px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-weight: 400;
}

#btn-atualizar:hover {
    background-color: #3e883e;
    transition: 1s;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 